{% extends 'base.html.twig' %}

{% block body %}
    <table border="1" width="100%">
        {% for v in date %}
            <tr style="text-align: center">
                <td>{{ v.nazwaKat }}</td>
            {#<td>{{ v.isActive }}</td>#}
            </tr>

            {#id: {{ v.id }}#}
        {% endfor %}
    </table>
{% endblock %}
