{% extends 'base.html.twig' %}

{% block body %}
    <table border="1" width="100%">
        <tr>
            <td>{#menu#}</td>
        </tr>
        <tr>
            <td>
                {#zawartosc etc..#}
                <a href="{{ path('homepage_admin') }}"> <button type="button">Opcje Forum</button></a>
            </td>
        </tr>
    </table>
{% endblock %}