{% extends 'base.html.twig' %}

{% block body %}
    <table border="1" width="100%">
        <tr>
            <td>1{#nick#}</td>
            <td>{#avatar etc#}</td>
        </tr>
        <tr>
            <td>1{#naglowek post#}</td>
            <td>
                1{#zawartosc post etc..#}
            </td>
        </tr>
    </table>
{% endblock %}
